.project {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    transition: 200s ease-in-out;
  }
  
  .project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: fit-content;
    width: 50vw;
  }

  .project-box{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50vw;
  }

  .project-box:nth-child(odd){
    justify-content: right;
  }

  .project-box:nth-child(even){
    justify-content: left;
  }


  
  