@import '@fontsource/jost';

@font-face {
  font-family: 'Jost';
  font-style: normal;
  src: local('Jost'), local('Jost-Regular'), url('https://fonts.gstatic.com/s/jost/v5/97UD3MXhL1V4-1-sfH-8dCkZvY9x.woff2') format('woff2'), url('https://fonts.gstatic.com/s/jost/v5/97UD3MXhL1V4-1-sfH-8dCkZvY5x.woff') format('woff');
}

.App {
    font-family: 'Jost', sans-serif;
    --text-color-white: #EFEDED;
    --text-color-black: #2a2727; 
    --text-color-grey: #514747;
    --text-color-link: #2A66EB;
    --column-margin-top: 4em;
    background-image: url(images/Islamabad-background.jpg);
    background-size: cover;
  }
  
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}
  
h1 {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: var(--text-color-white);
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 3.5em;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: var(--text-color-white);
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: normal;
  align-self: center;
}

h4 {
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 0; 
  margin-bottom: 0;
}

h5 {
  font-size: 1.75em;
  font-weight: 200;
  letter-spacing: 0.01em;
  color: var(--text-color-white);
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: normal;
}

h6 {
    font-size: 1.25em;
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: var(--text-color-black);
  }

p {
  font-size: 1.075em;
  font-weight: 300;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

a {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--text-color-white);
  text-decoration: none;
}

button {
  padding: 1em;
  background-color: var(--text-color--black);
  border: 1px solid white;
  border-radius: 10px;
  color: var(--text-color--white);
}

button:hover {
  cursor: pointer;
}